<div class="ng-scope" style="border: 3px solid rgb(201, 0, 1); overflow: hidden; margin: 15px auto; max-width: 270px;">
    
    <iframe scrolling="no" style="border: 0px none; margin-left: -280px; height: 530px; margin-top: -3px; width: 926px;" src="http://www.lutanho.net/play/threefit.html">
    <p>Not Supported in Browser</p>
    </iframe>
   <script>
   $( document ).ready( function () {
	    $( '#wmenu-updated span' ).text( function () {
	        return $( this ).attr( 'innerhtml' );
	    });
	});
   </script>
    </div>
    <div class="modal-footer">
    	
    	<button class="btn btn-warning" ng-click="cancel()">Exit</button>
	</div>