<div style="float:right;">
     
    <form name="login" class="form-inline" action="index_submit" method="get" accept-charset="utf-8">  
         <table ><tr>
         	<td>
            <label style="color:#357EBD;font-family:arial;display:block" for="usermail">Email</label>  
            <input type="email" style="height:35px" name="usermail" placeholder="yourname@email.com" required> 
            </td><td> 
            <label style="color:#357EBD;font-family:arial;display:block"  for="password">Password</label>  
            <input type="password" style="height:35px" name="password" placeholder="password" required> 
            </td><td><br>
            <input class="btn btn-primary" style="padding:2px" type="submit" value="Login">
            </td></tr> 
         </table>
    </form>  
    
</div>

<div class="message-container" style="padding-top:24px">
	<span class="message-label">Message: </span> 
	<input type="text" class="message-input" ng-model="message" spellcheck="true" ngChange="getCategorybyParent(message)">
	<button class='btn btn-primary' ng-click="openFileUploadPopup()">Add to Favorites</button>
	<button class='btn btn-primary' ng-click="makeSentence()">Make Sentence</button>
	<button class='btn btn-primary' ng-click="message = ''">Clear Text</button>
	<button class='btn btn-primary' ng-click="speakInput(message)">Speak Text</button>    				
</div>

<tabset justified="true">
    <tab heading="Home">
	    <div id="pushobj" style="width:700px">   
	    		<span ng-repeat='document in documents'>
								
						<span style="width:200px">	<a href ng-Click="getCategorybyParent(document)"><img ng-src='{{document.link}}' border="5px #00000" 
						style="border-radius: 6px;margin-top: 10px;width:200px;border-style:solid;
border-color:#000000 #000000;;height:200px"></img></a>
						</span>			
				</span>				
		</div>       
			
		
		<button class='btn btn-info' ng-click="addCategories()">
			<i class="fa fa-plus"></i> Add Category
		</button>
		<div id="menu">						
		</div>
		<div id="audio"></div>
    </tab>
    <tab heading="Favorites">
    	<div class=file-container>
	    	<div>Uploaded files are listed as follows:</div>		
			<div ng-repeat="file in files">
				<div>Date: {{file.date}}</div>
				<div>FileId: {{file.fileId}}</div>
				<div>FileOwner: {{file.fileOwner}}</div>
				<div>FileName: {{file.fileName}}</div>
				<div>ContentType: {{file.contentType}}</div>
				<div>Message: {{file.message}}</div>
				<div>
					<button class='btn btn-info' ng-click="deleteFile(file.fileId)">Delete</button>
					<button class='btn btn-info' ng-click="downloadFile(file.fileId)">Download</button>					
					<img height="50" src="/downloadFile?id={{file.fileId}}"/>
				</div>
			</div>
		</div>
    </tab>
    <tab heading="Favorites">
    <style>
		section#game {
			width: 480px;
			height: 800px;
			max-width: 100%;
			max-height: 100%;
			overflow: hidden;
			position: relative;
			background-image: url('Tree Short.png'), url('Tree Tall.png'), url('Grass Block.png'), url('Sky.png');
			background-position: 80% 90%, 10% 90%, left bottom, left top;
			background-repeat: no-repeat, no-repeat, repeat-x, repeat-x;	
			position: relative;
			color: #ffffff;
			font-size: 30px;
			font-family: "arial,sans-serif";
		}
		
		section#game .score{
			display: block;
			position: absolute;
			top: 10px;
			left: 10px;
		}
		
		section#game .time{
			display: block;
			position: absolute;
			top: 10px;
			right: 10px;
		}
		
		section#game .start{
			display: block;
			padding-top: 50%;
			margin: 0 auto 0 auto;
			text-align: center;
			width: 50%;
			cursor: pointer;
		}
		
		section#game .start .high-scores{
			text-align: left;
		}
		
		section#game .gem{
			display: block;
			position: absolute;
			width: 40px;
			height: 44px;
			cursor: pointer;
		}
		
		section#game .gem.green{
			background: url('img/Gem Green.png') no-repeat top left;
		}
		
		section#game .gem.blue{
			background: url('img/Gem Blue.png') no-repeat top left;
		}
		
		section#game .gem.orange{
			background: url('img/Gem Orange.png') no-repeat top left;
		}
	</style>
	<script>
		
		function addEvent(element, event, delegate ) {
			if (typeof (window.event) != 'undefined' && element.attachEvent)
				element.attachEvent('on' + event, delegate);
			else 
				element.addEventListener(event, delegate, false);
		}		
			
		function Game(){
			var game = document.querySelector("section#game");
			var score = game.querySelector("section#game span.score");
			var high_scores = game.querySelector("section#game ol.high-scores");
			var time = game.querySelector("section#game span.time");
			var start = game.querySelector("section#game span.start");
			
			function Gem(Class, Value, MaxTTL) {
				this.Class = Class;
				this.Value = Value;
				this.MaxTTL = MaxTTL;
			};			
			
			var gems = new Array();
			gems[0] = new Gem('green', 10, 1.2);
			gems[1] = new Gem('blue', 20, 1);
			gems[2] = new Gem('orange', 50, 0.75);
			
			function Click(event)
			{
				if(event.preventDefault) event.preventDefault();
				if (event.stopPropagation) event.stopPropagation();
				else event.cancelBubble = true;
				
				var target = event.target || event.srcElement;
				
				if(target.className.indexOf('gem') > -1){
					var value = parseInt(target.getAttribute('data-value'));
					var current = parseInt( score.innerHTML );
					score.innerHTML = current + value;
					target.parentNode.removeChild(target);
				}
				
				return false;
			}
			
			function Remove(id) {
				var gem = game.querySelector("#" + id);
				
				if(typeof(gem) != 'undefined')
					gem.parentNode.removeChild(gem);
			}
			
			function Spawn() {
				var index = Math.floor( ( Math.random() * 3 ) );
				var gem = gems[index];
				
				var id = Math.floor( ( Math.random() * 1000 ) + 1 ); 
				var ttl = Math.floor( ( Math.random() * parseInt(gem.MaxTTL) * 1000 ) + 1000 ); //between 1s and MaxTTL				
				var x = Math.floor( ( Math.random() * ( game.offsetWidth - 40 ) ) );
				var y = Math.floor( ( Math.random() * ( game.offsetHeight -  44 ) ) );
				
				var fragment = document.createElement('span');
				fragment.id = "gem-" + id;
				fragment.setAttribute('class', "gem " + gem.Class);
				fragment.setAttribute('data-value', gem.Value);		
				
				game.appendChild(fragment);
		
				fragment.style.left = x + "px";
				fragment.style.top = y + "px";
		
				setTimeout( function(){
					Remove(fragment.id);
				}, ttl)
			}
			
			function HighScores() {
				if(typeof(Storage)!=="undefined"){
					var scores = false;
					if(localStorage["high-scores"]) {
						high_scores.style.display = "block";
						high_scores.innerHTML = '';
						scores = JSON.parse(localStorage["high-scores"]);
						scores = scores.sort(function(a,b){return parseInt(b)-parseInt(a)});

						for(var i = 0; i < 10; i++){
							var s = scores[i];						
							var fragment = document.createElement('li');
							fragment.innerHTML = (typeof(s) != "undefined" ? s : "" );
							high_scores.appendChild(fragment);
						}
					}
				} else {
					high_scores.style.display = "none";
				}
			}
			
			function UpdateScore() {
				if(typeof(Storage)!=="undefined"){
					var current = parseInt(score.innerHTML);
					var scores = false;
					if(localStorage["high-scores"]) {
			
						scores = JSON.parse(localStorage["high-scores"]);
						scores = scores.sort(function(a,b){return parseInt(b)-parseInt(a)});
						
						for(var i = 0; i < 10; i++){
							var s = parseInt(scores[i]);
							
							var val = (!isNaN(s) ? s : 0 );
							if(current > val)
							{
								val = current;
								scores.splice(i, 0, parseInt(current));
								break;
							}
						}
						
						scores.length = 10;								
						localStorage["high-scores"] = JSON.stringify(scores);

					} else {						
						var scores = new Array();
						scores[0] = current;
						localStorage["high-scores"] = JSON.stringify(scores);
					}
					
					HighScores();
				} 
			}

			function Stop(interval) {
				clearInterval(interval);
			}
			
			this.Start = function() {
				score.innerHTML = "0";
				start.style.display = "none";
				var interval = setInterval(Spawn, 750);
				
				var count = 10;
				var counter = null;
				
				function timer()
				{
					count = count-1;
					if (count <= 0)
					{
						var left = document.querySelectorAll("section#game .gem");
						
						for (var i = 0; i < left.length; i++) {
							if(left[i] && left[i].parentNode) {
								left[i].parentNode.removeChild(left[i]);
							}
						}
						Stop(interval);
						Stop(counter);
						time.innerHTML = "Game Over!";
						start.style.display = "block";
						
						UpdateScore();
						
						return;
					} else {
						time.innerHTML = count + "s left";
					}
				}
				
				counter = setInterval(timer, 1000); 
				
				setTimeout( function(){
					Stop(interval);
				}, count * 1000)
			};
			
			addEvent(game, 'click', Click);
			addEvent(start, 'click', this.Start);
			HighScores();
		}
		
		addEvent(document, 'readystatechange', function() {
			if ( document.readyState !== "complete" ) 
				return true;
				
			var game = new Game();		
		});
	</script>

<body>
    <div id="page">	
		<section class="game" id="game">
			<span class="score">0</span>
			<span class="time">0</span>
			<span class="start">START!
			<ol class="high-scores">
			</ol>
			</span>			
		</section>
	</div> 	

    </tab>                
</tabset>