<div style="float:right;">
     
    <form name="login" class="form-inline" action="index_submit" method="get" accept-charset="utf-8">  
         <table ><tr>
         	<td>
            <label style="color:white;font-family:arial;display:block" for="usermail">Email</label>  
            <input type="email" style="height:35px" name="usermail" placeholder="yourname@email.com" required> 
            </td><td> 
            <label style="color:white;font-family:arial;display:block"  for="password">Password</label>  
            <input type="password" style="height:35px" name="password" placeholder="password" required> 
            </td><td><br>
            <input class="btn btn-primary" style="padding:2px" type="submit" value="Login">
            </td></tr> 
         </table>
    </form>  
    
</div>
<div class="message-container" style="padding-top:24px">
	<span class="message-label">Message: </span> 
	<input type="text" class="message-input" ng-model="message" spellcheck="true">
	<button class='btn btn-primary' ng-click="openFileUploadPopup()">Add</button>
	<button class='btn btn-primary' ng-click="addPost()">Post</button>
	<button class='btn btn-primary' ng-click="message = ''">Clear</button>
	<button class='btn btn-primary' ng-click="speakInput(message)">Talk</button>    				
</div> 


<tabset justified="true">
    <tab heading="Home">
    <div id="pushobj">   
    	<div class='row' ng-repeat='document in documents'>
			<div style='color:white' class='col-sm-4'>				
				<a href ng-Click="getCategorybyParent(document)"><img ng-src='{{document.link}}' style="padding:10px;width:200px;height:200px"></img></a>
			</div>
			<div style='color:white' class='col-sm-4'>
<!-- 				<img ng-src='{{slide.image2}}' style="padding:10px;width:200px;height:200px"></img> -->
			</div>
			<div style='color:white' class='col-sm-4'>
<!-- 				<img ng-src='{{slide.image3}}' style="padding-top:10px;padding-bottom:10px;padding-left:10px;padding-right:10px;width:200px;height:200px"></img> -->
			</div>			
		</div><br>	
			
       
</div>	
       		
		       		
		
		
		<button class='btn btn-info' ng-click="addCategories()">
			<i class="fa fa-plus"></i> Add Category
		</button>
		<div id="menu">						
		</div>
		<div id="audio"></div>
    </tab>
    <tab heading="Favorites">
    	<div class=file-container>
	    	<div>Uploaded files are listed as follows:</div>		
			<div ng-repeat="file in files">
				<div>Date: {{file.date}}</div>
				<div>FileId: {{file.fileId}}</div>
				<div>FileOwner: {{file.fileOwner}}</div>
				<div>FileName: {{file.fileName}}</div>
				<div>ContentType: {{file.contentType}}</div>
				<div>Message: {{file.message}}</div>
				<div>
					<button class='btn btn-info' ng-click="deleteFile(file.fileId)">Delete</button>
					<button class='btn btn-info' ng-click="downloadFile(file.fileId)">Download</button>					
					<img height="50" src="/downloadFile?id={{file.fileId}}"/>
				</div>
			</div>
		</div>
    </tab>
    <tab heading="Posts">    	
    	<div class='row'>
			<div style='color:white' class='col-sm-4'>				
				<img src='img/phones/lg-axis.0.jpg'></img>
			</div>
			<div style='color:white' class='col-sm-4'>
				<img src='img/phones/lg-axis.1.jpg'></img>
			</div>
			<div style='color:white' class='col-sm-4'>
				<img src='img/phones/lg-axis.2.jpg'></img>
			</div>			
		</div>		
    </tab>    
</tabset>