<div>
<h1>Snake</h1>

<div>
  <canvas style="border:5px solid black;margin-left:100px" id="the-game" width="400" height="400"></canvas>
</div>

<p style="font-family:Arial,Helvetica,sans-serif; font-size:18">Control snake with <img src=img/arrow_keys.png width='50px' height='50px'></img> keys</p>

<p>Collect the food to grow and increase speed.</p>
<script type="text/javascript" src="js/game.js"></script>
</div>
<div class="modal-footer">
    	
    	<button class="btn btn-warning" ng-click="cancel()">Exit</button>
	</div>