/* app css stylesheet */

body {
  margin: 0;
  padding: 0;  
}

.multilevelpushmenu_wrapper {	
	width: 250px;
	height: auto;
	min-height: 300px;		
}

.multilevelpushmenu_wrapper h2 {    
    line-height: 40px;
}

.multilevelpushmenu_wrapper .cursorPointer {    
    line-height: 40px;
}    

#pushobj {
	position: absolute;	
	left: 300px;		
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2em;
	height: 300px;	
}

.carousel-indicators {
	left: 600px;	
}

.carousel-indicators .active {
    background-color: #336CA6;
}    

.carousel-indicators li {
	border-color: #336CA6;
}

.carousel-caption {
	color: #336CA6;
	top: 230px;
}

.carousel-inner {
	width: 1200px;
}	

.message-images {
  padding: 0px;
}

.message-container {
  padding: 25px 10px 10px 30px;
}

.image-container {
  padding: 10px;
}

.message-label {
  color: #357EBD;
  font-weight: bold;
  font-size: 20px;	
}	

.message-input {
	width: 500px;
	height: 35px;	
	border-radius: 4px;
	font-size: 20px;
	border-bottom: 1px solid;
    border-right: 1px solid;	
}

.gridStyle {     
    background: #243342;
    height: 500px;
    width: 500px;
}

.file-container {
	color: #357EBD;
}

.upload-result {
	color: red;
	font-weight: bold;
	padding-top: 20px;
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
	background-color: #F0AD4E;
}

.btn-primary {
	margin-bottom: 7px;
}

.action-container1 {
	position: absolute;
	top: 25px;
	left: 320px;
}

.action-container2 {
	position: absolute;
	top: 25px;
	left: 300px;
}

.user-container {
	top: 30px;
	font-weight: bold;
}

.login-message {
	color: red;
	font-weight: bold;
	padding-bottom: 10px;
}

.signup-modal .modal-content {
	height: 450px;
}

#wrapper {
        width:450px;
        height:330px;
        margin:50px;
        font-family:Verdana, sans-serif;
}
legend {
    color:#0481b1;
    font-size:16px;
    padding:0 10px;
    background:#fff;
    -moz-border-radius:4px;
    box-shadow: 0 1px 5px rgba(4, 129, 177, 0.5);
    padding:5px 10px;
    text-transform:uppercase;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
}
fieldset {
    border-radius:4px;
    background: #fff; 
    background: -moz-linear-gradient(#fff, #f9fdff);
    background: -o-linear-gradient(#fff, #f9fdff);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f9fdff)); /
    background: -webkit-linear-gradient(#fff, #f9fdff);        
    border-color:rgba(4, 129, 177, 0.4);
}
input,
textarea {
    color: #373737;
    background: #fff;
    border: 1px solid #CCCCCC;
    color: #aaa;
    font-size: 14px;
    line-height: 1.2em;
    margin-bottom:15px;

    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
}
input[type="text"],
input[type="password"]{    
    height: 40px;    
}
input[type="text"]:focus,
input[type="password"]:focus {
    background:#f5fcfe;
    text-indent: 0;
    z-index: 1;
    color: #373737;
    -webkit-transition-duration: 400ms;
    -webkit-transition-property: width, background;
    -webkit-transition-timing-function: ease;
    -moz-transition-duration: 400ms;
    -moz-transition-property: width, background;
    -moz-transition-timing-function: ease;
    -o-transition-duration: 400ms;
    -o-transition-property: width, background;
    -o-transition-timing-function: ease;            
    border-color:#ccc;
    box-shadow:0 0 5px rgba(4, 129, 177, 0.5);
    opacity:0.6;
}
input[type="submit"]{
    background: #959;
    border: none;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    text-transform:uppercase;
    color: #222;
    cursor: pointer;
    font-size: 15px;
    margin: 5px 0;
    padding: 5px 22px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius:4px;
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}
textarea {
    padding:3px;
    width:96%;
    height:100px;
}
textarea:focus {
    background:#ebf8fd;
    text-indent: 0;
    z-index: 1;
    color: #373737;
    opacity:0.6;
    box-shadow:0 0 5px rgba(4, 129, 177, 0.5);
    border-color:#ccc;
}
.small {
    line-height:14px;
    font-size:12px;
    color:#999898;
    margin-bottom:3px;
}
	