<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>ArticulateAppGetServlet</servlet-name>
		<servlet-class>edu.sjsu.articulate.ArticulateAppGetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ArticulateAppGetServlet</servlet-name>
		<url-pattern>/articulateAppGetData</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ArticulateAppSetServlet</servlet-name>
		<servlet-class>edu.sjsu.articulate.ArticulateAppSetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ArticulateAppSetServlet</servlet-name>
		<url-pattern>/articulateAppSetData</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetCategoriesServlet</servlet-name>
		<servlet-class>edu.sjsu.articulate.category.GetCategoriesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetCategoriesServlet</servlet-name>
		<url-pattern>/getCategories</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SetCategoriesServlet</servlet-name>
		<servlet-class>edu.sjsu.articulate.category.SetCategoriesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SetCategoriesServlet</servlet-name>
		<url-pattern>/setCategories</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SetupCategoriesServlet</servlet-name>
		<servlet-class>edu.sjsu.articulate.category.SetupCategoriesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SetupCategoriesServlet</servlet-name>
		<url-pattern>/setupCategories</url-pattern>
	</servlet-mapping>
	
	<servlet>
   		<servlet-name>FileUploadServlet</servlet-name>
   		<servlet-class>edu.sjsu.articulate.file.FileUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
   		<servlet-name>FileUploadServlet</servlet-name>
   		<url-pattern>/uploadFile</url-pattern>
	</servlet-mapping>
	
	<servlet>
   		<servlet-name>FileListServlet</servlet-name>
   		<servlet-class>edu.sjsu.articulate.file.FileListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
   		<servlet-name>FileListServlet</servlet-name>
   		<url-pattern>/listFile</url-pattern>
	</servlet-mapping>	
	
	<servlet>
   		<servlet-name>FileManagerServlet</servlet-name>
   		<servlet-class>edu.sjsu.articulate.file.FileManagerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
   		<servlet-name>FileManagerServlet</servlet-name>
   		<url-pattern>/deleteFile</url-pattern>
	</servlet-mapping>
	
	<servlet>
   		<servlet-name>FileDownloadServlet</servlet-name>
   		<servlet-class>edu.sjsu.articulate.file.FileDownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
   		<servlet-name>FileDownloadServlet</servlet-name>
   		<url-pattern>/downloadFile</url-pattern>
	</servlet-mapping>
	
	<servlet>
   		<servlet-name>SentenceMakerServlet</servlet-name>
   		<servlet-class>edu.sjsu.articulate.sentence.SentenceMakerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
   		<servlet-name>SentenceMakerServlet</servlet-name>
   		<url-pattern>/makeSentence</url-pattern>
	</servlet-mapping>
	
	<servlet>
   		<servlet-name>AuthenticationServlet</servlet-name>
   		<servlet-class>edu.sjsu.articulate.authentication.AuthenticationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
   		<servlet-name>AuthenticationServlet</servlet-name>
   		<url-pattern>/authenticateUser</url-pattern>
	</servlet-mapping>
		
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
